<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gang.module_user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reg.RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".address.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".address.det.AddressDetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".share.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".set.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pwd.PwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.transfer.TransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.withdraw.WithdrawActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>